html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #0f0f0f;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
	gap: 3em;
}

a {
	text-decoration: none;
	color: #a9a9a9;
}

.cta {
	padding-right: 16%;
}

.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.hero .active {
	/* text-decoration: underline; */
	color: antiquewhite;
	font-size: larger;
}

.hero a {
	transition: transform 1s;
}

.hero a:hover {
	transform: 
	rotateY(360deg);
}
