#head {
	font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
	position: absolute;
	padding-left: 20px;
	font-size: 70px;
	color: #ffffff;
}
#head2 {
	color: #ffffff;
	font-size: 70px;
	top: 55px;
	left:260px;
	position: absolute;
	font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
html,body{
	margin: 0;
	padding: 0;
	background-color: #0f0f0f;
}

