#head {
	font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
	position: absolute;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 70px;
	color: #ffffff;
}
#head2 {
	color: #636363;
	font-size: 70px;
	top: 75px;
	left:254px;
	position: absolute;
	font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
html,body{
	margin: 0;
	padding: 0;
	background-color: #1f1f1f;
}
